body {
    background-color: #141414; /* Darker background color */
    color: rgb(255, 255, 255);
    font-family:monospace;
    margin: 0;
    overflow-y: none;

}

h1{
    position:absolute;
    left:15%;
    color:rgb(255, 255, 255);
    font-size :10rem;
    font-family: "Space Mono" ,monospace;
    justify-content: center;
    align-items: center;
}

.command {
    font-weight: bold;
    color: #ffffff; /* Lighter color for the command text */
}

.terminal {
    width: 80%;
    margin: 20px auto;
    background-color: #1a1a1a; /* Slightly lighter background color */
    padding: 10px;
    border: 2px solid #525252; /* Darker border color */
    box-shadow: 0 0 10px #525252; /* Darker shadow color */
    min-height: 300px;
    overflow-y: auto;
}

div .input-container{
    display:flex;
}

input {
    background-color: transparent;
    color: #f0f0f0;
    border: none;
    outline: none;
    width: 100%;
}

.output {
    color: #f0f0f0; /* White color for output */
}
