@font-face {
  font-family: "CascadiaCode";
  src: url("/Cascadia.ttf");
}

body {
  scroll-behavior: smooth;
  font-family: "CascadiaCode", monospace;
}

/* Custom scrollbar styling for Webkit-based browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar {
  width: 9px; /* Set the width of the scrollbar */
  border-radius: 500px;
}

body::-webkit-scrollbar-track {
  background: #000; /* Black track background */
  border: 2px solid #fff; /* White border */
  border-radius: 50px; /* Rounded corners for the track */
}

body::-webkit-scrollbar-thumb {
  background-color: #555; /* Dark gray scrollbar thumb */
  border: 2px solid #fff; /* White border around the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Custom scrollbar styling for Firefox */
body {
  scrollbar-color: #555 #000; /* Thumb and track colors */
  scrollbar-width: thin; /* Thin scrollbar */
}
